/*
 * «Copyright 2014 Jose F. Maldonado»
 *
 * This file is part of Histrix.
 *
 *  Histrix is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Histrix is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Histrix. If not, see <http://www.gnu.org/licenses/>.
 */
#page_help .ui-block-a {
    width: 20% !important;
    white-space: normal !important;
}

#page_help .ui-block-b {
    width: 80% !important;  
    white-space: normal !important;
}

#page_calculator .red,
#page_help .red {
    color: #f00;
}

#page_calculator .violet,
#page_help  .violet {
    color: #f0f;
}

#page_calculator .blue,
#page_help  .blue {
    color: #00f;
}

#page_calculator .ui-btn,
#page_help  .ui-btn {
    text-overflow:clip;
}
